<configuration scan="true" scanPeriod="120 seconds">
  <property name="LOG_DIR" value="${LOG_DIR:- /tmp/datahub/logs/datahub-frontend}"/>
  <timestamp key="bySecond" datePattern="yyyy-MM-dd'_'HH-mm-ss"/>
  <timestamp key="byDate" datePattern="yyyy-MM-dd"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </layout>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <appender name="MATS_ES_INFO" class="com.webex.mats.logback.ElasticAppender">
    <esURL>${ES_API_URL:-https://esaas-sjc02-dfw02-mats.webex.com/esapi}</esURL>
    <esIndex>${ES_LOG_INDEX:-mats_datahub_logs}</esIndex>
    <esUserName>${ES_USERNAME}</esUserName>
    <esPassword>${ES_PASSWORD}</esPassword>
    <intervalSecs>${ES_LOG_INTERVAL:-1}</intervalSecs>
    <hostName>${HOST_NAME}</hostName>
    <appName>${APP_NAME:-FRONTEND}</appName>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <appender name="MATS_ES_DEBUG" class="com.webex.mats.logback.ElasticAppender">
    <esURL>${ES_API_URL:-https://esaas-sjc02-dfw02-mats.webex.com/esapi}</esURL>
    <esIndex>${ES_LOG_INDEX:-mats_datahub_debug}</esIndex>
    <esUserName>${ES_USERNAME}</esUserName>
    <esPassword>${ES_PASSWORD}</esPassword>
    <intervalSecs>${ES_LOG_INTERVAL:-1}</intervalSecs>
    <hostName>${HOST_NAME}</hostName>
    <appName>${APP_NAME:-FRONTEND}</appName>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <appender name="MATS_WEBEX" class="com.webex.mats.logback.WebexAlertAppender">
    <messageApiURL>${WBX_API:-https://api.ciscospark.com/v1/messages}</messageApiURL>
    <roomId>${WBX_ROOM_ID:-Y2lzY29zcGFyazovL3VzL1JPT00vMWYzMmFmNzAtYWZmMC0xMWVjLTg2ZjItM2ZjOTc3ZWMyYzQx}</roomId>
    <kibanaLink>${WBX_KIBANA_LINK:-https://esaas-sjc02-dfw02-mats.webex.com/mats/goto/b49606b2711375e26cf431378a543266}</kibanaLink>
    <alertPersonEmail>${WBX_ALERT_EMAIL:-zhoxie@cisco.com}</alertPersonEmail>
    <botBearToken>${WBX_BOT_TOKEN:-ZTU5NzM1ZTAtNzY4My00NjY0LTlkNjktNmQ4ZTg2Y2ZmMWRkZDYyY2EyMjctODQ4_PF84_1eb65fdf-9643-417f-9974-ad72cae0e10f}</botBearToken>
    <intervalMins>${WBX_ALERT_INTERVAL:-30}</intervalMins>
    <hostName>${HOST_NAME}</hostName>
    <messageExclusionPattern>${WBX_ALERT_EXCLUSION_PATTERN:-Unable to renew the session.*}</messageExclusionPattern>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <!-- Change this to disable logging debug -->
<!--  <logger name="com.linkedin" level="DEBUG">-->
<!--    <appender-ref ref="MATS_ES_DEBUG"/>-->
<!--  </logger>-->
<!--  <logger name="controller" level="DEBUG">-->
<!--    <appender-ref ref="MATS_ES_DEBUG"/>-->
<!--  </logger>-->
<!--  <logger name="auth" level="DEBUG">-->
<!--    <appender-ref ref="MATS_ES_DEBUG"/>-->
<!--  </logger>-->
<!--  <logger name="org.pac4j" level="DEBUG">-->
<!--    <appender-ref ref="MATS_ES_DEBUG"/>-->
<!--  </logger>-->
<!--  <logger name="graphql" level="DEBUG">-->
<!--    <appender-ref ref="MATS_ES_DEBUG"/>-->
<!--  </logger>-->
<!--  <logger name="react" level="DEBUG">-->
<!--    <appender-ref ref="MATS_ES_DEBUG"/>-->
<!--  </logger>-->

  <root level="DEBUG">
    <appender-ref ref="MATS_ES_DEBUG"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="MATS_ES_INFO"/>
    <appender-ref ref="MATS_WEBEX"/>
  </root>
</configuration>